<span ng-switch="$ctrl.state.name">
    <span ng-switch-when="add">
        <button type="button" class="bin-btn bin-btn-primary bin-btn-floated" ng-click="$ctrl.updatePrice()"
                i18n code="price.add.button" read-only ng-bind="::var"></button>
    </span>
    <span ng-switch-when="update">
        <span class="bin-price bin-editable" ng-click="$ctrl.updatePrice()" ng-bind="$ctrl.item.presentableUnitPrice"></span>
    </span>
    <span ng-switch-default>
        <span class="bin-price" ng-if="$ctrl.item.presentableUnitPrice">
            <ng-include src="$ctrl.templateUrl"></ng-include>
        </span>
    </span>
</span>